<div class="commentContainer">
 <p>@ <span class="usernames"><%= comment.username %></span> <span class="data">(<%= comment.dataR %>)</span>
            <div class = "userRaiting">
                    <i class="far fa-star review" data-index="0"></i>
                    <i class="far fa-star review" data-index="1"></i>
                    <i class="far fa-star review" data-index="2"></i>
                    <i class="far fa-star review" data-index="3"></i>
                    <i class="far fa-star review" data-index="4"></i>
                    <span class = "nr"><%= comment.stars %></span>/5
            </div></p>
  <p class ="commentArea"><q><i> <%=comment.comment %> </i></q></p>
</div>