<hr>
<div id = "text">
    <p>Locație: Calea Moșilor 127, București, Sector 2</p>
    <p>Contact: contact@cinemated.com</p>
    <div id = "socialMedia">
        <a href = "#" class = "fa fa-facebook" title = "Facebook" alt = "Facebook"></a>
        <a href = "#" class = "fa fa-instagram" title="Instagram" alt = "Instagram"></a>
    </div>
    <p>Toate drepturile sunt rezervate Cinemated România 2020 ©</p>
</div>
<!--
<iframe id = "map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d182321.7162542176!2d25.954551917784553!3d44.437740140618466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1f93abf3cad4f%3A0xac0632e37c9ca628!2sBucure%C8%99ti!5e0!3m2!1sro!2sro!4v1587397943469!5m2!1sro!2sro" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
-->
