<div id = "headerDiv">
    <div id = "logs">
    <a href = "#" class = "fa fa-facebook" title = "Facebook" alt = "Facebook"></a>
    <a href = "#" class = "fa fa-instagram" title="Instagram" alt = "Instagram"></a>
    <div id="loginDiv"><a href = "#">login</a></div>
    <a href = "#" title = "My Account" alt = "Account"> <img src = "/images/login.png" ></a></div>
    
    <div class="intro">
        
        <p>Cinemated</p>
        <figure>
        <img id = "logo" src = "/images/cinematedLogo.png" alt="cinemated logo" title="cinemated">
        </figure>
    </div>

    <nav id = "hnav">
        <ul>
        <li id = "li"><a href = "/index">Home</a></li>
        <li><a href = "/filme">Filme</a></li>
        <li><a href = "/bilete">Bilete</a></li>
        <li><a href = "/limitless">Limitless</a></li>
    </nav>
</div>