<div id = "headerDiv">
    <div id = "zonaLogin">
        <div id = "logs">
        <a id = "acc" href = "javascript:void(0);" title = "My Account" alt = "Account"> <img src = "/images/login.png" onclick="showAccount()"></a>
        <% if(locals.user) { %>
            <p>Bun venit, <b id="username"><%= user.username %></b>!</p>
        <% } else { %>
            <p>Nu sunteți logat!</p>
        <% } %>
        
        <div id="loginDiv">
        <% if(locals.user){ %>
            <a href="/dashboard">Contul meu</a>
            <a href="/logout">Deconectare</a>
        <% } else { %>
            <a href = "/login">Login</a>
            <a href = "/register">Register</a>
        <% } %>
        </div>
        
        </div>
    </div>
    <div class="intro">
        
        <p>Cinemated</p>
        <figure>
        <img id = "logo" src = "/images/cinematedLogo.png" alt="cinemated logo" title="cinemated">
        </figure>
    </div>

    <nav id = "hnav">
        <ul>
        <li id = "li"><a href = "/index">Home</a></li>
        <li><a href = "/filme">Filme</a></li>
        <li><a href = "/despre">Povestea noastră</a></li>
        <li><a href = "/limitless">Limitless</a></li>
		</ul>
    </nav>

    <nav id = "hnavSticky" class = "scrolled">
        <ul>
        <li id = "li"><a href = "/index" class = "aScrolled">Home</a></li>
        <li><a href = "/filme" class = "aScrolled">Filme</a></li>
        <li><a href = "/despre" class = "aScrolled">Povestea noastră</a></li>
        <li><a href = "/limitless" class = "aScrolled">Limitless</a></li>
		</ul>
    </nav>
</div>