@import url('https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro&display=swap');
*{
	font-family: Pacifico;
	color: rgba(245, 245, 220, 1);
}
body {
    background-color: rgba(25,25,25,1);
    /* darkslategray;*/
}
#choosing_box{
	background-color:rgb(240,220,130);
	/*padding:2em;*/
	padding: 1.5em;
	padding-top:0.1em;
	border-radius:0.5rem;
	font-family:Arial;
	
}
#choosing_box label{
	font-family: Arial;
}
.container {
	
	background-color:#162252;
	box-sizing:border-box;
	border-radius:0.5rem;
	/*margin-top:2em;*/
	margin-top: 1.5em;
	/*padding: 2em;*/
	padding: 1.5em;
	display: grid;
    grid-template-columns: 24em 8em auto 1em;	
	
}
.container select, label {
	/*margin-right:5em;*/
	margin-right:2em;
}
#but{
	float:right;
	padding:1em;
	margin-top:1em;
	border-radius:0.5rem;
	color:#162252;
}
#choose h2{
	padding:1em;
	font-family:Quicksand;
	
}
.total{
	float:right;
	padding:0.3em;
}
#txt{
	size:1em;
}
.price label{
	margin:0;
}