@import url('https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro&display=swap');

header {
    color: white
}

body {
    background-color: rgba(25,25,25,1);;
}

main {
    color: white;
    font-size: 1.3em;
    margin: 30px;
}

p b {
    color: rgba(104, 92, 26, 1);
    font-size: 1.4em;
}

button {
    padding: 5px;
    border-radius: 5px;
}

button a {
    text-decoration: none;
    color: rgba(104, 92, 26, 1);
    font-weight: bold;
    font-size: 15px;
}

#personalInfo {
    position: relative;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid white;
    padding: 10px;
}

label {
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    color: rgba(104, 92, 26, 1);
    font-size: 25px;
}

input[type = "text"], input[type = "password"] {
    padding: 10px;
    font-size: 1.1em;
    margin-left: 10px;
    margin-top: 5px;
    width: 90%;
}

input[type = "text"]:hover {
    background-color: rgb(243, 235, 217);
}

h1 {
    font-family: "Pacifico", cursive;
    margin: 20px;
}

h2 {
    margin-left: 50px;
}

#modifications {
    margin-top: 30px;
    float: right;
}

#modifications button {
    margin-left: 10px;
}

#modifications button:hover {
    background-color: rgb(243, 235, 217);
}

#personalInfo ~ a {
    text-decoration: none;
    color: rgba(104, 92, 26, 1);
    margin: 20px;
    float: right;
    clear: both;
    font-size: 1.2em;
}

#personalInfo ~ a:hover {
    color: white;
}