@import url('https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro&display=swap');

*{
    margin: 0;
}

header, main {
    margin-left: min(30vw, 300px);
    color: white;
}

h2{
    margin-left: 20px;
    font-size: 28px;
}

.sidenav {
    height: 100%;
    width: 30%;
    max-width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 16px 6px 16px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
}

.sidenav a:nth-last-of-type(2){
    margin-bottom: 20px;
}

.sidenav a:last-of-type{
    color: rgb(104,92,26);
    border-top: 1px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidenav a:hover, #active {
    color: #f1f1f1;
    background-color: green;
}

p a{
    color: rgb(104,92,26);
}

p{
    margin: 20px;
}

h1 {
    font-family: "Pacifico", cursive;
    font-size: 3em;
    margin: 20px;
}

body {
    background-color: rgba(25,25,25,1);
    font-family: Arial, sans-serif;
}

form{
    padding: 20px;
    width: 400px;
}

label{
    display: block;
    font-size: 20px;
}

input[type=text], input[type=password]{
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
    margin: 10px 10px 10px 0px;
}

input[type=text]:focus, input[type=password]:focus {
    border: 3px solid #555;
}

input[type=submit]{
    margin-top: 10px;
    color: rgba(104, 92, 26, 1);
    padding: 8px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
}

#aLimitless {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    margin: 20px;
    position: relative;
    top: 10px;
}

#aLimitless:hover {
    color: gold;
}