.checkbox_label{
	color: rgba(104, 92, 26, 1);
	font-size: 1.2em;
	margin-bottom: 10px;
	display: block;
}

.checkbox_input{
	margin-right: 10px;
}

#filtrare {
	margin: 30px;
}

#filter_icon{
	width: 50px;
	background-color: rgba(104, 92, 26, 1);
	border-radius: 50%;
	border: 2px solid rgba(104, 92, 26, 1);

}
#continut_filtrare {
	display: none;
}

.buton {
	border: 2px solid rgba(104, 92, 26, 1);
	background-color: rgba(25,25,25,1);
	color: rgba(104, 92, 26, 1);
	width: 100px;
	padding: 10px;
}

.containerMovies {
	width: 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.movieItem {
	width: 100%;
	border: 1px solid #777777;
	background: #FAFAFA;
	margin: 3px;
	padding: 2px;
	display: flex;
}

.containerMovies img {
	height: 300px;
	width: 200px;
}