#filter {
	margin: 30px;
}

#filterIcon{
	width: 50px;
	background-color: rgba(104, 92, 26, 1);
	border-radius: 50%;
	border: 2px solid rgba(104, 92, 26, 1);
}

#filterIcon:hover {
	border-color: gold;
}

#filterContent {
	display: none;
	position: absolute;
}

.filterIntro {
	color: rgba(104, 92, 26, 1);
	font-size: 1.2em;
	margin-bottom: 10px;
	display: block;
	padding-top: 10px;
}

.checkboxLabel{
	color: rgba(104, 92, 26, 1);
	font-size: 1.2em;
	margin-bottom: 10px;
	display: block;
}

.checkboxLabel:hover {
	color: gold;
}

.checkboxInput{
	margin-right: 10px;
}

#selectFilter {
	background-color: rgba(25,25,25,1);
	color: rgba(104, 92, 26, 1);
	border: 2px solid rgba(104, 92, 26, 1);
	padding: 2px;
	margin-bottom: 20px;
	border-radius: 5px;
}

#selectFilter:hover {
	color: gold;
}

.selectOption{
	background-color: rgba(25,25,25,1);
	color: rgba(104, 92, 26, 1);
	border: 2px solid rgba(104, 92, 26, 1);
	padding: 2px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.selectOption:hover {
	color: gold;
}

.buttons {
	border: 2px solid rgba(104, 92, 26, 1);
	background-color: rgba(25,25,25,1);
	color: rgba(104, 92, 26, 1);
	width: 100px;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
}

.buttons:hover {
	border-color: gold;
	color: gold;
}

#searchBar {
	float: right;
	font: inherit;
}

#noMovie {
	display: none;
	color: rgba(104, 92, 26, 1);
	font-size: 30px;
	text-align: center;
	
}
.containerMovies {
	background-size: cover;
	width: 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.containerMovies a{
	color: rgba(104, 92, 26, 1);
	text-decoration: none;
}

.containerMovies img {
	height: 250px;
	width: 50%;
}

.movieItem {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 400px;
}

.distribution {
	width: 100%;
	height: 50px;
}