footer p {
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#map{
    
    margin-top: 20px;  
    margin-right: 20px;
    width: 20%;
    height: 180px;
    float: right;
}

#text {
    position: relative;
    display: inline-block;
    /* margin-left: 50%; */
    /* margin-bottom: 3em; */
    margin-top: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

#socialMedia {
    display: flex;
    justify-content: center;
}

.fa-facebook {
    color: white;
}

.fa-instagram {
    color: white;
  }