h1 {
    font-family: "Pacifico", cursive;
    margin: 10px;
    animation: h1Animation 2s ease-in-out 1 forwards;
    position: relative;
}

@keyframes h1Animation {
    from {left: 0px}
    to {left: 30px}
}

.posterMovie {
	position: relative;
    z-index: -100;
    margin: 20px;
    display: inline-block;
	height: 350px;
	width: auto;
}

.indexMovie {
	text-decoration: none;
	color: rgba(104, 92, 26, 1);
}

.infoDiv {
	padding: 30px;
	text-align: justify;
}

.movieName {
	text-align: center;
}
