*{
	font-family:Pacifico;
}
.front{
	width: 300px;
	margin: 5px 32px 45px 32px;
	background-color: #f0f0f0; 
	color: #666;
	text-align: center;
	padding: 3px;
	border-radius: 5px;
} 
.bookingDetails {
	float: right;
	position: relative;
	width:200px;
	height: 450px; 
} 
.bookingDetails h3 {
	margin: 5px 5px 0 0;
	font-size: 16px;
} 
.bookingDetails p{
	line-height:26px;
	font-size:16px;
	color:#999;
} 
.bookingDetails p span{
	color:#666;
} 

div.seatCharts-cell {
	color: #182C4E;
	height: 25px;
	width: 25px;
	line-height: 25px;
	margin: 3px;
	float: left;
	text-align: center;
	outline: none;
	font-size: 13px;
	} 
div.seatCharts-seat {
	color: #fff;
	cursor: pointer;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
} 
div.seatCharts-row {
	height: 35px;
	} 
div.seatCharts-seat.available{
	background-color: rgb(240,220,130);
} 
div.seatCharts-seat.focused {
	background-color: rgba(245, 245, 220, 1);
	border: none;
	} 
div.seatCharts-seat.selected {
	background-color: white;
	} 
div.seatCharts-seat.unavailable {
	background-color: #162252;
	cursor: not-allowed;
	} 
div.seatCharts-container {
	border-right: 1px dotted #adadad;
	width: 400px;
	padding: 20px;
	float: left;
} 
div.seatCharts-legend {
	padding-left: 0px;
	position: absolute;
	bottom: 16px;
} 
ul.seatCharts-legendList {
	padding-left: 0px;
} 
.seatCharts-legendItem{
	float:left; 
	width:90px;
	margin-top: 10px;
	line-height: 2;
} 
span.seatCharts-legendDescription {
	margin-left: 5px;
	line-height: 30px;
} 
.checkoutButton {
	display: block;
	width:80px; 
	height:24px; 
	line-height:20px;
	margin: 10px auto;
	border:1px solid #999;
	font-size: 14px; 
	cursor:pointer;
} 
#selectedSeats {
	max-height: 150px;
	overflow-y: auto;
	overflow-x: none;
	width: 200px;
} 
#legend{
	color:rgba(245, 245, 220, 1);
	padding:1em;
	
}
#selectedSeats li{
	float:left; 
	width:72px; 
	height:26px; 
	line-height:26px;
	border:1px solid;
	background:#f7f7f7;
	margin:6px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
} 