<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../partials/commonLinks.ejs")%>
    <title>Alege biletele</title>
	<script src = "../scripts/choose.js"></script>
	<link href="stylesheets/choose.css" type = "text/css" rel = "stylesheet">
</head>
<body>
	<main>
		<div id="choose">
			<h2 id="complet">
				Alegeti bilete pentru:
			</h2>
			 <% if (limitless) { %>
			  <p id="limitless">Aveti un bilet gratis datorita cardului Limitless! Selectati restul biletelor dorite.</p>
			 <% }%>
		</div>
		<div id="choosing_box">
			
		</div>
		</div>
		<!--<form action="choose.ejs" method="get">
		<button id="but" type="submit" formaction="locuri">Next</button>
		
		</form>-->
		<button id="but" type="submit" formaction="locuri">Next</button>
	</main>

</body>
<footer>
   
</footer>


</html>