<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Contul meu</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel = "shortcut icon" type = "image/x-icon" href="/images/favicon.ico"/>
		<link rel="stylesheet" href="stylesheets/dashboard.css" type = "text/css">
	</head>
	<body>
		<header>
			<% if (!locals.user) { %>
				<h1>Contul meu</h1>
			<% } else { %>
				<h1>Contul lui <%= user %></h1>
			<% } %>
		</header>
		<main>
			<% if (!locals.user) { %>
				<p>Nu sunteți logat! <button><a href="/index">Înapoi la site</a></button></p>
			<% } else { %>
				<button id="home"><a href="/index">Înapoi la site</a></button>
				
				<div id = "divide">
					<div id = "dr">
					<div id = "personalInfo">
						<h2>Informații personale</h2>
						<p>Nume: <%= userData.name %></p>
						<p>Email: <%= userData.email %></p>
						<button><a href="/undeva">Modifică datele contului</a></button>
						<button><a href="/undeva">Schimbă parola</a></button>
					</div>
					<div id = "personalInfo">
						<h2>Cardul meu Limitless</h2>
						<p>Nu ești membru al programului Limitless!</p>
						<button><a href="/undeva">Înregistrează-te acum!</a></button>
					</div>
					</div>
					<div id = "dr">
					<div id = "personalInfo">
						<h2>Biletele mele</h2>
						<p>Nu ai cumpărat bilete până în acest moment!</p>
					</div>
					<div id = "personalInfo">
						<h2>Recenziile mele</h2>
						<p>Nu ai completat nicio recenzie până în acest moment!</p>
					</div>
					</div>
				</div>
			<% } %>
		</main>
		<footer>
			
		</footer>
	</body>
</html>