<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../partials/commonLinks.ejs")%>
	<link href = "stylesheets/despre.css" type = "text/css" rel = "stylesheet">
    <title>Povestea noastră</title>
</head>
<header>
    <%- include("../partials/header.ejs")%>
</header>
<body>
	
	<div id = "container">
        <section>
            <h1>Cum a inceput totul?</h1>
            <div class = "moviesContainer">
				<img class = "recMovies" src="/images/chaplin.gif" alt="Movie of the week">
                <p class = "des">
					Totul a inceput cu pasiunea noastra pentru filme si cinematografie. Suntem 5 oameni plini de entuziasm si ne am cunoscut pe bancile 
					facultatii in urma cu cativa ani. Cu totii am impartasit aceeasi pasiune pentru arta cinematografica, insa accesul la capodoperele
					trecutului ne-a fost limitat de ceea ce se difuzeaza in cinematografele contemporane. Acest lucru insa ne-a determinat sa aducem
					adevarata experienta a cinefilului de epoca in zilele noastre. Si asa s-a nascut Cinemated.
                </p>
            <div>
        </section>
		<section>
            <h1>Trecut vs prezent</h1>
            <div class = "moviesContainer">
				<img class = "recMovies" src="/images/scene1.gif" alt="Best Reviews">
                <p class = "des">
					In cautarea locului perfect unde ne puteam contura viziunea, am descoperit o capodopera arhitecturala chiar in inima Bucurestiului:
					un fost teatru construit in anii '20. Odata un loc unde se aduna intelectualitatea bucuresteana, la inceputul anilor '90 a devenit
					doar o amintire a ceea ce fusese candva. 
					Vazand acest loc, am stiut ca visul nostru poate deveni realitate. Am inceput restaurarea lui in 2018 si la inceputul anului 2020
					lucrurile s-au concretizat.
				<p>
            <div>
        </section>
		<section>
            <h1>Planuri viitoare</h1>
            <div class = "moviesContainer">
				<img class = "recMovies" src="/images/scene2.gif" alt="Best Reviews">
                <p class = "des">
					Dar nu vrem sa ne oprim aici. Intentia noastra este sa ne extindem in mai multe orase din tara unde sa aducem bucuria de a viziona
					un film din orice timp.
                </p>
            <div>
        </section>
	</div>


</body>

<footer><%- include("../partials/footer.ejs")%></footer>
</html>