<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../partials/commonLinks.ejs")%>
    <title>Povestea noastră</title>
</head>
<header>
    <%- include("../partials/header.ejs")%>
</header>
<body>

</body>

<footer><%- include("../partials/footer.ejs")%></footer>
</html>