<!DOCTYPE html>
<html lang="ro">
<head>
	<%- include("../partials/commonLinks.ejs")%>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			crossorigin="anonymous"></script>
	<% if (locals.user) { 
		if (locals.user.isAdmin) { %>
		<script src="scripts/filme-admin.js"></script>
		<% } else { %>
		<script src="scripts/filme.js"></script>
		<% } %>
	<% } else { %>
	<script src="scripts/filme.js"></script>
	<% } %>
	<link href="stylesheets/filme.css" type="text/css" rel="stylesheet">
   
	
    <title>Filme</title>
</head>

<header>
    <%- include("../partials/header.ejs")%>
</header>

<body>

	<div id="filter">
		<img id="filterIcon" src="/images/filter_icon.png" alt="filter">
		
		<!-- Search bar -->
		<input type="text" id="searchBar" name="search" onkeyup="searchMovie()" placeholder="Introduceti titlul filmului"> 
		
		<% if (locals.user) { 
			if (locals.user.isAdmin) { %>
		<img id="addMovieIcon" src="/images/add_icon.svg" alt="filter">
		<% } } %>
		
		<div id="filterContent">
			<!-- Filtering by genre -->
			<p class="filterIntro">Genul filmului:</p>
			<div id="genres">
				<label class="checkboxLabel"><input type="checkbox" class="checkboxInput" value="Actiune">Actiune</label>
				<label class="checkboxLabel"><input type="checkbox" class="checkboxInput" value="Aventura">Aventura</label>
				<label class="checkboxLabel"><input type="checkbox" class="checkboxInput" value="Crima">Crima</label>
				<label class="checkboxLabel"><input type="checkbox" class="checkboxInput" value="Comedie">Comedie</label>
				<label class="checkboxLabel"><input type="checkbox" class="checkboxInput" value="Drama">Drama</label>
				<label class="checkboxLabel"><input type="checkbox" class="checkboxInput" value="Familie">Familie</label>
				<label class="checkboxLabel"><input type="checkbox" class="checkboxInput" value="Horror">Horror</label>
				<label class="checkboxLabel"><input type="checkbox" class="checkboxInput" value="Razboi">Razboi</label>
				<label class="checkboxLabel"><input type="checkbox" class="checkboxInput" value="Romantic">Romantic</label>
				<label class="checkboxLabel"><input type="checkbox" class="checkboxInput" value="SF">SF</label>
				<label class="checkboxLabel"><input type="checkbox" class="checkboxInput" value="Thriller">Thriller</label>
			</div>
			
			<!-- Sort movies -->
			<p class="filterIntro">Ordoneaza dupa:</p>
			<div id="sorting">
				<select id="selectFilter">
					<option class="selectOption" value="default">Selecteaza optiunea</option>
					<option class="selectOption" value="nameAZ">Nume A-Z</option>
					<option class="selectOption" value="nameZA">Nume Z-A</option>
					<option class="selectOption" value="durataDownUp">Crescator dupa durata</option>
					<option class="selectOption" value="durataUpDown">Descrescator dupa durata</option>
					<option class="selectOption" value="yearUpDown">Cele mai recente</option>
					<option class="selectOption" value="yearDownUp">Cele mai vechi</option>
				</select>
			</div>
			<!-- Filter and reset buttons -->
			<button class="buttons" id="filterButton">Filtreaza</button></br>
			<button class="buttons" id="resetButton">Reseteaza</button>
		</div>
	
	</div>
	
	<% if (locals.user) { 
		if (locals.user.isAdmin) { %>
	<div id="addMovie" class="modal">
	<div class="modal-content">

		<div class="modal-header">
			<span id = "closeButton" class="close">&times;</span>
			<h2>Adaugă film în baza de date</h2>
		</div>

		<div class="modal-body">
			<form method="post">
				<label>
					Titlu: <input type="text" name="title" required="required">
				</label>
				<label>
					Gen(uri): <input type="text" name="genre" required="required">
				</label>
				<label>
					Regizor(i): <input type="text" name="director" required="required">
				</label>
				<label>
					Actori: <input type="text" name="actor" required="required">
				</label>
				<label>
					Link trailer: <input type="text" name="trailer" required="required">
				</label>
				<label>
					Link afiș: <input type="text" name="poster" required="required">
				</label>
				<label>
					Descriere: <textarea name="desc" id="desc" rows="4" tabindex="4" required="required"></textarea>
				</label>
				<label>
					Durată: <input type="text" name="time" required="required">
				</label>
				<label>
					Limba originală: <input type="text" name="lang" required="required">
				</label>
				<label>
					Anul apariției: <input type="text" name="year" required="required">
				</label>
				
				<button id = "btn">Submit</button>
		  </form>	
		</div>
	</div>
	</div>
	<% } } %>
	
	<p id = "noMovie">Nu exista niciun film cu numele cautat.<br>Incercati din nou!</p>

	<div id="movies" class="containerMovies"> 
		<% for (var i = 0; i < moviesData.length; i++) { %>
			<%- include('../partials/movieTemplate', {movie: moviesData[i]}); %>
		<% } %>
	</div>

</body>

<footer><%- include("../partials/footer.ejs")%></footer>
</html>