<!DOCTYPE html>
<html lang="ro">
<head>
	<link href = "stylesheets/index.css" type = "text/css" rel = "stylesheet">
    <%- include("../partials/commonLinks.ejs")%>
    <title>Cinemated</title>

</head>
<body>
    <header>
    <%- include("../partials/header.ejs")%>
    </header>

    <div id = "container">
        <section>
            <h1>Filmul săptămânii</h1>
            <div class = "moviesContainer">
                <img class = "recMovies" src="/images/chaplin.gif" alt="Movie of the week">
                <p class = "des">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis tristique sollicitudin nibh sit amet. Sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. Orci sagittis eu volutpat odio facilisis mauris. Lorem donec massa sapien faucibus. Sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. Cras semper auctor neque vitae tempus quam pellentesque. Sit amet risus nullam eget felis eget. Varius vel pharetra vel turpis nunc eget lorem dolor sed. Senectus et netus et malesuada. Diam maecenas sed enim ut sem viverra aliquet eget sit. Ac ut consequat semper viverra nam.
                </p>
            <div>
            
        </section>
        
        <section>
            <h1>Filmul cu cele mai bune review-uri</h1>
            <div class = "moviesContainer">
                <img class = "recMovies" src="/images/scene1.gif" alt="Best Reviews">
                <p class = "des">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis tristique sollicitudin nibh sit amet. Sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. Orci sagittis eu volutpat odio facilisis mauris. Lorem donec massa sapien faucibus. Sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. Cras semper auctor neque vitae tempus quam pellentesque. Sit amet risus nullam eget felis eget. Varius vel pharetra vel turpis nunc eget lorem dolor sed. Senectus et netus et malesuada. Diam maecenas sed enim ut sem viverra aliquet eget sit. Ac ut consequat semper viverra nam.
                </p>
        </section>

        <section>
            <h1>Urmează să apară...</h1>
            <div class = "moviesContainer">
                <img class = "recMovies" src="/images/scene2.gif" alt="Best Reviews">
                <p class = "des">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis tristique sollicitudin nibh sit amet. Sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. Orci sagittis eu volutpat odio facilisis mauris. Lorem donec massa sapien faucibus. Sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. Cras semper auctor neque vitae tempus quam pellentesque. Sit amet risus nullam eget felis eget. Varius vel pharetra vel turpis nunc eget lorem dolor sed. Senectus et netus et malesuada. Diam maecenas sed enim ut sem viverra aliquet eget sit. Ac ut consequat semper viverra nam.
                </p>
        </section>
    
        <section>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis tristique sollicitudin nibh sit amet. Sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. Orci sagittis eu volutpat odio facilisis mauris. Lorem donec massa sapien faucibus. Sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. Cras semper auctor neque vitae tempus quam pellentesque. Sit amet risus nullam eget felis eget. Varius vel pharetra vel turpis nunc eget lorem dolor sed. Senectus et netus et malesuada. Diam maecenas sed enim ut sem viverra aliquet eget sit. Ac ut consequat semper viverra nam.

        Non curabitur gravida arcu ac tortor dignissim convallis aenean. A cras semper auctor neque vitae tempus quam pellentesque. Felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices. Sit amet est placerat in egestas erat imperdiet. Id nibh tortor id aliquet lectus proin nibh nisl. Egestas sed tempus urna et pharetra pharetra massa massa. Elit ullamcorper dignissim cras tincidunt lobortis. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Pharetra diam sit amet nisl suscipit adipiscing bibendum est. Sed sed risus pretium quam vulputate. Neque convallis a cras semper auctor neque. Risus feugiat in ante metus dictum at tempor commodo.

        Tellus mauris a diam maecenas sed enim ut sem viverra. Id semper risus in hendrerit gravida rutrum quisque. In fermentum posuere urna nec tincidunt praesent semper. Pulvinar elementum integer enim neque. Tincidunt tortor aliquam nulla facilisi cras. Quam id leo in vitae turpis massa sed elementum. A iaculis at erat pellentesque adipiscing commodo elit at imperdiet. Dictum non consectetur a erat nam. Mus mauris vitae ultricies leo. Morbi non arcu risus quis varius quam. Nunc sed blandit libero volutpat. At consectetur lorem donec massa sapien faucibus et molestie ac. Sed turpis tincidunt id aliquet risus feugiat. Feugiat sed lectus vestibulum mattis ullamcorper velit sed.

        Venenatis tellus in metus vulputate eu. Porttitor eget dolor morbi non arcu risus quis. Quam id leo in vitae turpis massa sed elementum tempus. Praesent tristique magna sit amet purus. Nulla facilisi cras fermentum odio eu feugiat pretium nibh. Nisl pretium fusce id velit. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Urna neque viverra justo nec. Nec feugiat nisl pretium fusce. Aliquam nulla facilisi cras fermentum odio. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit. Diam in arcu cursus euismod quis viverra nibh cras pulvinar. Vestibulum sed arcu non odio euismod lacinia at. Facilisi etiam dignissim diam quis. Pretium fusce id velit ut tortor. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. Nunc mi ipsum faucibus vitae aliquet. Sed turpis tincidunt id aliquet risus feugiat in ante metus. Cursus vitae congue mauris rhoncus aenean vel. Diam phasellus vestibulum lorem sed risus ultricies.

        Turpis egestas maecenas pharetra convallis posuere. Tincidunt praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. Amet justo donec enim diam vulputate ut pharetra. At ultrices mi tempus imperdiet nulla malesuada pellentesque. Sit amet aliquam id diam maecenas. At varius vel pharetra vel turpis nunc eget lorem dolor. Velit euismod in pellentesque massa placerat. Morbi tincidunt augue interdum velit euismod in pellentesque massa placerat. Nunc mattis enim ut tellus elementum sagittis. Lectus mauris ultrices eros in cursus. Elementum curabitur vitae nunc sed velit dignissim sodales ut. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna neque. Euismod in pellentesque massa placerat. Faucibus pulvinar elementum integer enim. Enim tortor at auctor urna nunc id. Turpis tincidunt id aliquet risus feugiat.

        Nulla pellentesque dignissim enim sit. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Nibh praesent tristique magna sit. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus aenean. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Nulla pellentesque dignissim enim sit amet. Elementum pulvinar etiam non quam lacus suspendisse faucibus interdum. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus. Erat imperdiet sed euismod nisi porta. Sit amet tellus cras adipiscing enim eu turpis. Dictumst quisque sagittis purus sit amet volutpat consequat mauris. Id consectetur purus ut faucibus pulvinar elementum. Diam sollicitudin tempor id eu nisl nunc mi ipsum faucibus. Neque ornare aenean euismod elementum nisi quis eleifend quam adipiscing. Ipsum a arcu cursus vitae. Nec dui nunc mattis enim ut tellus elementum sagittis vitae. Mauris cursus mattis molestie a iaculis at erat. Tincidunt id aliquet risus feugiat in ante. Tempus quam pellentesque nec nam aliquam sem et.

        Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi tristique. Risus at ultrices mi tempus imperdiet nulla. Massa placerat duis ultricies lacus sed turpis. Sit amet nisl purus in mollis. Commodo quis imperdiet massa tincidunt. Nec ullamcorper sit amet risus nullam eget felis eget. Metus aliquam eleifend mi in nulla posuere. Nunc sed id semper risus in hendrerit gravida rutrum quisque. Eu feugiat pretium nibh ipsum. Enim nec dui nunc mattis. Sit amet facilisis magna etiam tempor orci.

        Quisque id diam vel quam elementum pulvinar etiam. Neque convallis a cras semper auctor neque vitae tempus quam. Lacus sed turpis tincidunt id. Turpis egestas maecenas pharetra convallis posuere morbi leo urna. Lobortis mattis aliquam faucibus purus in massa tempor nec. Erat nam at lectus urna duis convallis convallis tellus. Nulla porttitor massa id neque aliquam vestibulum morbi blandit. Mattis enim ut tellus elementum sagittis vitae et. In nulla posuere sollicitudin aliquam. Ut eu sem integer vitae. Sit amet nisl purus in mollis nunc sed id semper. Fames ac turpis egestas sed tempus. Nisi quis eleifend quam adipiscing vitae proin sagittis. Mauris a diam maecenas sed enim ut sem viverra. Ac ut consequat semper viverra nam libero. Pharetra et ultrices neque ornare aenean euismod elementum nisi quis. Ut sem nulla pharetra diam. Et sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque.

        Tristique senectus et netus et malesuada fames ac. Consequat id porta nibh venenatis cras. Placerat orci nulla pellentesque dignissim enim sit amet venenatis urna. Dui sapien eget mi proin sed. Est sit amet facilisis magna etiam tempor orci eu lobortis. Vivamus at augue eget arcu dictum varius duis at. Sapien faucibus et molestie ac feugiat. Sagittis eu volutpat odio facilisis. Est ultricies integer quis auctor. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus. Aenean sed adipiscing diam donec adipiscing tristique. Nunc mattis enim ut tellus elementum sagittis vitae. Purus in massa tempor nec feugiat nisl pretium fusce. Quis blandit turpis cursus in hac habitasse platea dictumst quisque. Pellentesque elit eget gravida cum sociis natoque. Porttitor rhoncus dolor purus non. Id semper risus in hendrerit gravida. Auctor neque vitae tempus quam pellentesque nec nam. Pulvinar elementum integer enim neque volutpat ac.

        Adipiscing diam donec adipiscing tristique. Nisl condimentum id venenatis a condimentum vitae sapien. Eu augue ut lectus arcu. Ultricies integer quis auctor elit. Aliquet sagittis id consectetur purus. Viverra aliquet eget sit amet. Consectetur lorem donec massa sapien faucibus et molestie. Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan. Eget arcu dictum varius duis at consectetur lorem. Nibh ipsum consequat nisl vel pretium lectus quam id. Vulputate mi sit amet mauris commodo quis. Feugiat pretium nibh ipsum consequat nisl vel pretium lectus quam. Magna sit amet purus gravida quis blandit turpis. Pellentesque habitant morbi tristique senectus et netus et. At in tellus integer feugiat scelerisque varius morbi enim. Amet cursus sit amet dictum. Eu non diam phasellus vestibulum lorem sed risus ultricies. Ultricies mi eget mauris pharetra et ultrices neque ornare. Cursus mattis molestie a iaculis at. Non curabitur gravida arcu ac tortor dignissim.
        </section>

    </div>

</body>
<footer>
    <%- include("../partials/footer.ejs")%>
</footer>


</html>