<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../partials/commonLinks.ejs")%>
    <title>Confirmare rezervare</title>
	<script src = "../scripts/confirm.js"></script>
	<link href="stylesheets/confirm.css" type = "text/css" rel = "stylesheet">
</head>
<body>
    <header>
        <div class="intro">        
			<p>Cinemated</p>
			<figure>
			<img id = "logo" src = "/images/cinematedLogo.png" alt="cinemated logo" title="cinemated">
			</figure>
		</div>
    </header>
	<main>
		<div id="confirm">
			<h2>
				Rezervarea numarul:
			</h2>
			
		</div>
		<img  id = "board" src="/images/message-board-notice-psd-1.jpg" alt="board">
		</form>
	</main>

</body>
<footer>
   
</footer>