<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../partials/commonLinks.ejs")%>
    <title>Limitless</title>

</head>
<body>
    <header>
    <%- include("../partials/header.ejs")%>
    </header>
    <p></br></br></br></br></br></br></br></br></br></br></br></br></br></br></p>

</body>
<footer><%- include("../partials/footer.ejs")%></footer>


</html>