<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../partials/commonLinks.ejs")%>
    <title>Alege locurile</title>
	<script type="text/javascript" src="https://www.goocode.net/demo/img/jquery-1.11.0.min.js"></script> 
	<script type="text/javascript" src="https://www.goocode.net/demo/seat_r/jquery.seat-charts.min.js"></script>
	<script src = "../scripts/locuri.js"></script>
	
	<link href="stylesheets/locuri.css" type = "text/css" rel = "stylesheet">
	
</head>
<body>
	<!--
    <header>
        <div class="intro">        
			<p>Cinemated</p>
			<figure>
			<img id = "logo" src = "/images/cinematedLogo.png" alt="cinemated logo" title="cinemated">
			</figure>
		</div>
    </header>
	-->
	<main>
	
		<div class="demo">
   		<div id="seatMap">
			<div class="front">ECRAN</div>					
		</div>
		<div class="bookingDetails">
			<p>Film: <span> <%= movieData.name %></span></p>
			<p>Data: <span><%= screen.data %>,<%= screen.ora %></span></p>
			<p>Locuri: </p>
			<ul id="selectedSeats"></ul>
			<p>Bilete: <span id="counter">0</span></p>
			<p>Total: <b><span id="total">0</span></b> lei</p>
			
			
			<button id="but" class="checkoutButton" type="submit" formaction="confirm">Cumpara</button>
			
			
			<div id="legend"></div>
		</div>
		<div style="clear:both"></div>
   </div>
	</main>

</body>
<footer>
   
</footer>


</html>