<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Log in to Cinemated</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href = "stylesheets/register.css" type = "text/css" rel = "stylesheet">
	</head>
	<body>
		<header>
			<h1>Login</h1>
		</header>
		<main>
			<% if (locals.cntl == 2) { %>
				<p>Parola este greșită! Vă rugăm încercați din nou.</p>
			<% } else if (locals.cntl == 3) { %>
				<p>Nu există acest utilizator! Vă rugăm încercați din nou.</p>
			<% } else if (locals.cntl == 0) { %>
				<p>Eroare generală de autentificare! Vă rugăm încercați din nou.</p>
			<% } %>
			<form method="post">
				<label>
					Username: <input type="text" name="username" value="">
				</label>
				<label>
					Parola: <input type="password" name="pass">
				</label>
				<input id = "btn" type="submit" value="Submit">
			</form>
			</br>
			<button><a href="/index">Înapoi la site</a></button>
		</main>
		<footer>
			
		</footer>
	</body>
</html>