<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Delogat</title>
		<link href = "stylesheets/logout.css" type = "text/css" rel = "stylesheet">
		<link rel="stylesheet" href="../css/secondary.css">
	</head>
	<body>
		<div>
			<img src = "/images/goodbye.gif" alt = "Goodbye!">
			<p>Utilizator delogat cu succes. <a href="/">Înapoi la pagina principală</a></p>
			<p id="redirect"></p>
		</div>
	</body>
</html>