<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Delogat</title>
		<script src="../js/redirect.js"></script>
		<link rel="stylesheet" href="../css/secondary.css">
	</head>
	<body>
		<p>Utilizator delogat cu succes. <a href="/">Înapoi la pagina principală</a></p>
		<p id="redirect"></p>
	</body>
</html>