<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Creare cont</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<header>
			<h1>Creare cont nou</h1>
		</header>
		<main>
			<p>Atentie, deocamdata e fara validare !!</p>
			<form method="post">
				<label>
					Username: <input type="text" name="username">
				</label>
				<label>
					Email: <input type="text" name="email">
				</label>
				<label>
					Nume complet: <input type="text" name="fname">
				</label>
				<label>
					Parola: <input type="password" name="pass">
				</label>
				<input type="submit" value="Submit">
			</form>
		</main>
		<footer>
			
		</footer>
	</body>
</html>